{% extends 'Enterprise/base.html' %} {% block title %} Nuevo Servicio {% endblock %} {% block content %}
<div class="static-content">
	<div class="page-content">
		<ol class="breadcrumb">
			<li><a href="{% url 'Enterprise:dashboard' %}">Dashboard</a></li>
			<li><a href="{% url 'Service:list-service' %}">Servicios</a></li>
			<li class="active"><a href="{% url 'Service:list-service' %}">Nuevo Servicio</a></li>
		</ol>
		<div class="container-fluid">

			<div data-widget-group="group1">
				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-midnightblue" data-widget='{"draggable": "false"}'>
							<div class="panel-heading">
								<h2>Añadir Servicios</h2>
							</div>
							<div class="panel-body">
								<div class="tab-content">
									<div class="tab-pane active" id="horizontal-form">

										<form class="form-horizontal" method="post">
											{% csrf_token %}
											<div class="form-group">
												<label for="focusedinput" class="col-sm-2 control-label">Nombre</label>
												<div class="col-sm-8">
													<input type="text" class="form-control" id="focusedinput" name='name' placeholder="Ingrese el nombre del servicio">
												</div>
											</div>
											<div class="form-group">
												<label for="selector1" class="col-sm-2 control-label">Prioridad</label>
												<div class="col-sm-8">
													<select name="priority" id="selector1" class="form-control">
														{% for priority in data.prioritys %}
															<option>{{ priority.name }}</option>
														{% endfor %}
													</select>
												</div>
											</div>
											<div class="form-group">
												<label for="focusedinput" class="col-sm-2 control-label">ANS</label>
												<div class="col-sm-8">
													<input type="time" class="form-control" id="focusedinput" name='ans' placeholder="Ingrese el ANS">
												</div>
											</div>
											<div class="form-group">
												<label for="selector2" class="col-sm-2 control-label">Categoria</label>
												<div class="col-sm-8">
													<select name="category" id="selector2" class="form-control">
														{% for category in data.categorys %}
															<option>{{ category.name }}</option>
														{% endfor %}
													</select>
												</div>
											</div>
											<div class="panel-footer">
												<div class="row">
													<div class="col-sm-8 col-sm-offset-2">
														<input type="submit" class="btn btn-primary pull-right" value="Crear">
														<button class="btn-default btn">Cancel</button>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}