 {% extends 'Enterprise/base.html' %} {% block title %} Base de Conocimiento {% endblock %} {% block content %}
<div class="static-content">
	<div class="page-content">
		<div class="container-fluid">
			<div data-widget-group="group1">
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<div class="col-sm-2">
							</div>
							<div class="form-group">
								<label for="selector1" class="col-sm-1 control-label">Busqueda</label>
								<div class="col-sm-3">
									<select name="selector1" id="selector1" class="form-control">
										<option>Nivel 1</option>
										<option>Nivel 2</option>
									</select></div>
							</div>
							<div class="col-md-3">
								<div class="info-tile tile-success">
									<div class="tile-icon"><i class="ti ti-thumb-up"></i></div>
									<div class="tile-heading"><span>Likes</span></div>
									<div class="tile-body"><span>345</span></div>
									<div class="tile-footer"><span class="text-success">+15.4%</span></div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="info-tile info-tile-alt tile-warning">
									<div class="tile-icon"><i class="ti ti-eye"></i></div>
									<div class="tile-heading"><span>Page Views</span></div>
									<div class="tile-body"><span>600</span></div>
									<div class="tile-footer"><span class="text-danger">7.6%</span></div>
								</div>
							</div>
							<div class="col-md-3">
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-xs-12">
							<div class="panel panel-midnightblue">
								<div class="panel-heading">
									<h2>Banco de Conocimiento</h2>
								</div>
								<div class="panel-body">
									<table class="table m-n">
										<thead>
											<tr>
												<th>Categoria</th>
												<th>Problema</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Nivel 1</td>
												<td>¿Qué hacer si mi mouse o teclado no funciona?</td>
												<td></td>

												<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
								<i class="ti ti-panel">
								</button></td>

											</tr>
											<tr>
												<td>Nivel 2</td>
												<td>¿Cómo instalar un antivirus?</td>
												<td></td>

												<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
								<i class="ti ti-panel">
								</button></td>
											</tr>
											<tr>
												<td>Nivel 2</td>
												<td>¿Cómo cambiar la IP de una maquina?</td>
												<td></td>

												<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
								<i class="ti ti-panel">
								</button></td>
											</tr>
											<tr>
												<td>Nivel 1</td>
												<td>¿Qué hacer si me correo no recibe ni envía mensajes?</td>
												<td></td>

												<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
								<i class="ti ti-panel">
								</button></td>
											</tr>
											<tr>
												<td>Nivel 2</td>
												<td>¿Cómo instalar un sistema Operativo?</td>
												<td></td>

												<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
								<i class="ti ti-panel">
								</button></td>
											</tr>
											<tr>
												<td>Nivel 1</td>
												<td>¿Qué hacer si mi mouse o teclado no funciona?</td>
												<td></td>

												<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
								<i class="ti ti-panel">
								</button></td>
											</tr>

											<tr>
												<td>Nivel 2</td>
												<td>¿Cómo instalar un sistema Operativo?</td>
												<td></td>

												<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
								<i class="ti ti-panel">
								</button></td>
											</tr>

											<tr>
												<td>Nivel 2</td>
												<td>¿Cómo crear nuevos usuarios?</td>
												<td></td>

												<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
								<i class="ti ti-panel">
								</button></td>
											</tr>
											<tr>
												<td>Nivel 2</td>
												<td>¿Cómo formatear una pC?</td>
												<td></td>

												<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
								<i class="ti ti-panel">
								</button></td>
											</tr>
											<tr>
												<td>Nivel 2</td>
												<td>¿Cómo instalar driver de video?</td>
												<td></td>

												<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
								<i class="ti ti-panel">
								</button></td>
											</tr>
											<tr>
												<td>Nivel 2</td>
												<td>¿Cómo ingresar a la Bios?</td>
												<td></td>

												<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
								<i class="ti ti-panel">
								</button></td>
											</tr>
											<tr>
												<td>Nivel 1</td>
												<td>¿Cómo quitar protección contra escritura ?</td>
												<td></td>

												<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
								<i class="ti ti-panel">
								</button></td>
											</tr>
											<tr>
												<td>Nivel 2</td>
												<td>¿Cómo instalar un controlador de Red?</td>
												<td></td>

												<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
								<i class="ti ti-panel">
								</button></td>
											</tr>
											<tr>
												<td>Nivel 2</td>
												<td>Cambio de Procesador</td>
												<td></td>

												<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
								<i class="ti ti-panel">
								</button></td>
											</tr>
											<tr>
												<td>Nivel 2</td>
												<td>Compatibilidad de Tarjeta Madre</td>
												<td></td>

												<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
								<i class="ti ti-panel">
								</button></td>
											</tr>
											<tr>
												<td>Nivel 2</td>
												<td>¿Cómo instalar driver de impresora?</td>
												<td></td>

												<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
								<i class="ti ti-panel">
								</button></td>
											</tr>
											<tr>
												<td>Nivel 2</td>
												<td>¿Cómo instalar un sistema Operativo?</td>
												<td></td>

												<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
								<i class="ti ti-panel">
								</button></td>
											</tr>
											<tr>
												<td>Nivel 2</td>
												<td>Pantalla azul al conectar la impresora</td>
												<td></td>

												<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
								<i class="ti ti-panel">
								</button></td>
											</tr>
											<tr>
												<td>Nivel 2</td>
												<td>¿Configurar la impresora por medio del router?</td>
												<td></td>

												<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
								<i class="ti ti-panel">
								</button></td>
											</tr>
											<tr>
												<td>Nivel 2</td>
												<td>¿Cómo instalar un sistema Operativo?</td>
												<td></td>

												<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
								<i class="ti ti-panel">
								</button></td>
											</tr>
											<tr>
												<td>Nivel 1</td>
												<td>La impresora no scanea</td>
												<td></td>

												<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
								<i class="ti ti-panel">
								</button></td>
											</tr>
											<tr>
												<td>Nivel 2</td>
												<td>Instalación de Base de datos</td>
												<td></td>

												<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
								<i class="ti ti-panel">
								</button></td>
											</tr>
											<tr>
												<td>Nivel 2</td>
												<td>¿Cómo instalar un sistema Operativo?</td>
												<td></td>

												<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
								<i class="ti ti-panel">
								</button></td>
											</tr>
											<tr>
												<td>Nivel 2</td>
												<td>¿Cómo recuperar archivos de Excel?</td>
												<td></td>

												<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
								<i class="ti ti-panel">
								</button></td>
											</tr>
											<tr>
												<td>Nivel 2</td>
												<td>¿Cómo aumentar la velocidad de descarga?</td>
												<td></td>

												<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
								<i class="ti ti-panel">
								</button></td>
											</tr>
											<tr>
												<td>Nivel 2</td>
												<td>¿Cómo instalar un sistema Operativo?</td>
												<td></td>

												<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
								<i class="ti ti-panel">
								</button></td>
											</tr>
											<tr>
												<td>Nivel 1</td>
												<td>¿Cómo recuperar archivos ocualtos de mi USB?</td>
												<td></td>

												<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
								<i class="ti ti-panel">
								</button></td>
											</tr>
											<tr>
												<td>Nivel 2</td>
												<td>No tengo conexión a ningun Wifi</td>
												<td></td>

												<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
								<i class="ti ti-panel">
								</button></td>
											</tr>
											<tr>
												<td>Nivel 2</td>
												<td>¿Cómo Restaurar mi pc</td>
												<td></td>

												<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
								<i class="ti ti-panel">
								</button></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="myModalLabel">Detalle de la Solución</h4>
									</div>
									<div class="modal-body">

										<div class="tab-content">
											<div class="tab-pane active" id="horizontal-form">
												<form class="form-horizontal">
													<div class="form-group">
														<label for="focusedinput" class="col-sm-2 control-label">PROBLEMA</label>
														<div class="col-sm-8">
															¿Qué hacer si mi mouse o teclado no funciona?
														</div>
													</div>

													<div class="form-group">
														<label for="focusedinput" class="col-sm-2 control-label">SOLUCIÓN</label>

													</div>


													<div class="panel-body">

														<p class="m-n">
															<p align="justify">1.Compruebe que el ratón está conectado</p>
															<p align="justify">Si tiene un ratón con cable, compruebe que esta firmemente conectado a su equipo.</p>
															<p align="justify">Si es un ratón USB (con un conector rectangular), pruebe a conectarlo en un puerto USB distinto. </p>
															<p align="justify">Si es un ratón PS/2 (con un pequeño conector redondo con seis pines), compruebe que está conectado en el
																puerto verde del ratón y no en el puerto violeta del teclado. Puede que tenga que reiniciar el equipo si
																no estaba bien conectado.</p>

															<p align="justify">2.Compruebe que actualmente el ratón funciona</p>
															<p align="justify">Conecte el ratón en un equipo distinto y vea si funciona. Si el ratón es un ratón óptico o láser, debería
																brillar una luz en la parte inferior del ratón, cuando está encendido.</p>
															<p align="justify">Si no hay luz, compruebe que está activado. Si es así y todavía no hay luz, el ratón puede que esté roto.</p>

															<p align="justify">3.Comprobar el ratón inalámbrico</p>

															<p align="justify">Asegúrese de que el ratón está encendido. Generalmente existe un interruptor en la parte de inferior del ratón
																para apagar completamente el ratón, de tal forma que puede moverlo de un sitio a otro sin tener que despertarlo
																constantemente.
															</p>

															<p align="justify">Si está usando un ratón Bluetooth, asegúrese de que ha emparejado el ratón con el equipo. Consulte la Conectar
																su equipo a un dispositivo Bluetooth. Compruebe que la batería del ratón está cargada</p>
														</p>
													</div>
												</form>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}