 {% extends 'Enterprise/base.html' %} {% block title %} Nuevo Ticket {% endblock %} {% block content %}
<div class="static-content">
	<div class="page-content">
		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li><a href="#">Tickets</a></li>
			<li class="active"><a href="ui-forms.html">Nuevo Ticket</a></li>
		</ol>
		<div class="container-fluid">
			<div data-widget-group="group1">
				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-midnightblue" data-widget='{"draggable": "false"}'>
							<div class="panel-heading">
								<h2>Registro de Tickets</h2>
							</div>
							<div class="panel-body">
								<div class="tab-content">
									<div class="tab-pane active" id="horizontal-form">
										<form class="form-horizontal" method="POST">
											{% csrf_token %}
											<div class="form-group ui-widget">
												<label for="employees" class="col-sm-2 control-label">Solicitado por :</label>
												<div class="row">
													{% if not perms.auth.is_admin and not perms.auth.is_technical %}
													<div class="col-sm-4">
														<label for="focusedinput" class="col-sm-2 control-label">{{user.first_name}}{{user.last_name}}</label>
														<input type="number" name="employee" hidden value="{{user.id}}">
													</div>
													{% else %}
													<div class="col-sm-6">
														<span><button><i class="fa fa-search"></i></button><input type="text" class="form-control" id="employees" name="employee" value="" placeholder="Ingrese nombre del empleado"></span>
													</div>

													{% endif %}
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label">Tipo de Ticket</label>
												<div class="col-sm-8">
													<select name="service_type" class="form-control">
														{% for service_type in service_types %}
															<option value="{{ service_type.id }}">{{ service_type.name }}</option>
														{% endfor %}
													</select>
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label">Categoría(*)</label>
												<div class="col-sm-8">
													<select name="category" class="form-control" id="category">
														<option>--Seleccione categoría--</option>
														{% for category in categorys %}
															<option value="{{ category.id }}">{{ category.name }}</option>
														{% endfor %}
													</select>
												</div>
											</div>
											<div class="form-group">
												<label for="selector1" class="col-sm-2 control-label">Servicio :</label>
												<div class="col-sm-8">
													<select name="service" class="form-control" id="service">
														<option>----------</option>
													</select>
												</div>
											</div>
											<div class="form-group">
												<label for="focusedinput" class="col-sm-2 control-label">Asunto(*) :</label>
												<div class="col-sm-8">
													<input type="text" class="form-control" id="focusedinput" name="subject">
												</div>
											</div>
											<div class="form-group">
												<label for="txtarea1" class="col-sm-2 control-label">Descripción(*)</label>
												<div class="col-sm-8"><textarea name="description" id="txtarea1" cols="50" rows="4" class="form-control"></textarea></div>
											</div>
											{% if perms.auth.is_admin %}
											<div class="form-group">
												<label for="selector1" class="col-sm-2 control-label">Prioridad :</label>
												<div class="col-sm-6">
													<select name="priority" class="form-control" id="priority">
															<option>-----</option>
													</select>
												</div>
											</div>
											{% endif %}
											<div class="form-group">
												<label for="selector1" class="col-sm-2 control-label">Técnico asignado :</label>
												<div class="col-sm-8" id="technical">
												</div>
												<input id="was_attended" type="text" name="was_attended" hidden value="">
											</div>
											<div class="panel-footer">
												<div class="row">
													<div class="col-sm-8 col-sm-offset-2">
														<input type="submit" class="btn btn-primary pull-right" value="Crear">
														<button class="btn-default btn">Cancel</button>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %} {% block js %}
<script type="text/javascript" src="assets/plugins/summernote/dist/summernote.js"></script>
<script>
	$("#category").change(function () {
		var id_category = $("#category").val();
		$.get("/service/categorys/" + id_category + "/", { "category_services": "" }, function (data) {
			var html = "";
			for (var i = 0; i < data.services.length; i++) {
				html += "<option value='" + data.services[i].id + "'>" + data.services[i].name + "</option>"
			}
			$("#service").html(html);
		});
	});

	$("#service").change(function () {
		var id_service = $("#service").val();
		$.get("/service/services/" + id_service + "/", function (data) {
			var html = "";
			html += "<option value='" + data.priority.id + "'>" + data.priority.name + "</option>"
			$("#priority").html(html);
		});
		$.get("/technicals/", { "free_technical": "", "service": id_service }, function (data) {
			console.log(data);
			var html = "";
			if (data[0] != undefined) {
				html += data[0].employee.user.name;
				$("#was_attended").val(data[0].id);
			}
			else {
				html += "Por el momento no hay un tecnico que pueda atender su pedido."
			}
			$("#technical").html(html);
		});
	});
	jQuery(function () {
		$("#employees").on('keyup', function () {
			var value = $(this).val();
			$.ajax({
				url: "{% url 'Enterprise:autocomplete' %}",
				data: {
					'search': value
				},
				dataType: 'json',
				success: function (data) {
					$("#employees").autocomplete({
						source: function (request, response) {
							var list = [];
							list = data.list;
							response(list);
							return;
						},
						select: function (e, ui) {
							console.log(ui.item.id)
							$("#employees").val(ui.item.id);
						},

						change: function (e, ui) {
							$("#employees").val(ui.item.id);

						}
					});
				}
			});
		});
	});
	$(".ui-cornerr-all").click(function () {
		console.log($(this).attr("id"));
	});

</script>
{% endblock %}